aif.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://aif.square-r00t.net"
           xmlns="https://aif.square-r00t.net"
           elementFormDefault="qualified">
	<xs:element name="aif">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="storage" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
				<xs:sequence>
					<xs:element name="disk">
						<xs:complexType>
						<xs:element name="type" type="xs:string" /><!-- TODO: custom type. gpt, bios, etc. -->
						<!-- NOTE: this should be the node.<xs:element name="name" type="xs:string" />device, e.g. 'sda' -->
						<xs:element name="part" type="xs:string" />
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				</xs:complexType>
				</xs:element>
				<xs:element ref="mount" maxOccurs="unbounded" minOccurs="1" />
				<xs:element ref="network" maxOccurs="unbounded" minOccurs="1" />
				<xs:element ref="system" maxOccurs="1" minOccurs="1" />
				<xs:element ref="user" maxOccurs="1" minOccurs="1" />
				<xs:element ref="pacman" maxOccurs="1" minOccurs="1" />
				<xs:element ref="bootloader" maxOccurs="1" minOccurs="1" />
				<xs:element ref="scripts" maxOccurs="unbounded" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>